.HomeDiv {
    display: flex;
    justify-content: center;
}

.Circles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 207px;
}

.HomeCom{
    background: #1877F2;
    border: black solid 2px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 250px;
    height: 200px;
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
    justify-items: center;
    margin-top: 20px;
}

.HomeCom h1,h5 {
    color: #fff;
}

.HomeCom button {
    background: #5bdb34;
    cursor: pointer;
    color: #fff;
    width: 40%;
    margin-top: 20px;
    border: 2px solid #5bdb34;
    border-radius: 8px;
    display: block;
    padding: 8px;
    font-size: 16px;
    text-align: center;
}

.HomeCom button:hover {
    border: 2px solid #db3434;
    background: #db3434;
    color: #fff;
}

.Icons {
    font-size: xx-large;
    color: aliceblue;
    margin: 0;
    padding: 0;
    /* align-content: space-between; */
    /* display: flexbox; */
}

.row {
    justify-content:space-evenly;
}

.button_css {
    display: block;
    cursor: pointer;
    color: #fff;
    width: 185px;
    padding: 8px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-size: 16px;
    transition-duration: 0.4s;
    background-color: #9ECC98;
}

.button-css:hover {
    border: 2px solid #fff;
    background: #6e8e6a;
    color: #ffffff;
}

/* #9ECC98 # */