.container {
    margin-left: 10px;
    margin-bottom: 10px;

}

.Circles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 207px;
}

.form {
    padding: 10px 40px;
}

.form_control{
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.form_control label{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form_control input{
    display: block;
    border: 2px solid #f0f0f0f0;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form button {
    justify-items: center;
    background: #3498db;
    cursor: pointer;
    color: #fff;
    width: 100%;
    margin-top: 20px;
    border: 2px solid #3498db;
    border-radius: 8px;
    display: block;
    padding: 8px;
    font-size: 16px;
}
